<button id="kebab">
  <img id="kebab-icon" src="/kebab.svg" alt="menu" onclick="showLink()" />
</button>
<a id="logOut" onclick="alert('You have been logged out!')" href="/auth/logout"
  >Log Out</a
>
<div id="closer"></div>
